In [9]:
import pandas as pd
import numpy as np
import requests

In [11]:
tran_df=pd.read_excel("Transactions.xlsx",engine='openpyxl')

In [15]:
crypto_df=pd.DataFrame(index=(np.unique(np.array(list(tran_df['Ticker'])))),columns=['Last','Average','Volume','Profit/Loss','P/L%'])

In [16]:
crypto_df

       Last Average Volume Profit/Loss P/L%
btcinr  NaN     NaN    NaN         NaN  NaN
ethinr  NaN     NaN    NaN         NaN  NaN
ltcinr  NaN     NaN    NaN         NaN  NaN

In [21]:
tran_df

   Ticker   Volume    Price  Type
0  btcinr    0.220  2233442   Buy
1  ltcinr  993.000     3321  Sell
2  ethinr   66.000       88  Sell
3  ltcinr  555.000       88   Buy
4  ltcinr   88.000       66  Sell
5  btcinr    0.002  2345000   Buy

In [22]:
crypto_df['Last']['btcinr']=44
crypto_df['Last']['btcinr']=2*crypto_df['Last']['btcinr']+tran_df['Price'][4]
crypto_df

       Last Average Volume Profit/Loss P/L%
btcinr  154     NaN    NaN         NaN  NaN
ethinr  NaN     NaN    NaN         NaN  NaN
ltcinr  NaN     NaN    NaN         NaN  NaN