In [1]:
import requests
import pandas as pd

In [2]:
res=requests.get('https://api.wazirx.com/api/v2/tickers')

In [3]:
data=(res.json())

In [4]:
tickers=['btcinr','ethinr','xrpinr','trxinr']

In [5]:
df=pd.DataFrame(data)
df

,btcinr,xrpinr,ethinr,trxinr,eosinr,zilinr,batinr,usdtinr,wrxinr,maticinr,...,glmusdt,sushiusdt,ethwrx,xrpwrx,yfiwrx,bnbwrx,trxwrx,eoswrx,ltcwrx,linkwrx
base_unit,btc,xrp,eth,trx,eos,zil,bat,usdt,wrx,matic,...,glm,sushi,eth,xrp,yfi,bnb,trx,eos,ltc,link
quote_unit,inr,inr,inr,inr,inr,inr,inr,inr,inr,inr,...,usdt,usdt,wrx,wrx,wrx,wrx,wrx,wrx,wrx,wrx
low,2480008.0,21.15,92229.2,2.221,205.01,5.24,22.501,78.62,7.1,2.4,...,0.1123,6.263,13086.0,2.93,327149.0,439.0,0.3054,27.99,1479.0,0.0
high,2670077.0,22.29,99886.2,2.313,212.5,5.5,28.49,79.8,7.5,2.594,...,0.1211,7.36,13576.0,3.06,346522.0,450.0,0.315,29.18,1557.0,0.0
last,2550000.0,21.5908,98612.9,2.2824,208.0,5.5,26.5,78.95,7.33,2.523,...,0.1166,7.31,13464.0,2.94,335241.0,445.0,0.3124,27.99,1479.0,0.0
type,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,...,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT,SPOT
open,2.517e+06,21.156,93410.7,2.234,206,5.24,23.5,79.41,7.17,2.425,...,0.112,6.353,13086,2.96,341207,433,0.3107,29.04,1552,0.0
volume,252.726,1196708.0,2099.937,16410278.0,26784.79,4670.0,657892.8,3487407.87,1900811.0,4606086.0,...,3456.0,3744.906,37.615,39832.0,0.168793,10.94,67967.0,311.2,13.485,0.0
sell,2555000.0,21.6,98800.0,2.2824,208.0,5.51,26.502,78.95,7.33,2.549,...,0.118,7.245,13555.0,2.98,335576.0,450.0,0.315,28.6,1537.0,1000.0
buy,2550013.0,21.5908,98612.9,2.28,207.18,5.28,26.5,78.83,7.31,2.523,...,0.1139,7.179,13542.0,2.93,332661.0,443.0,0.3122,28.18,1519.0,0.0
at,1611396477,1611396477,1611396477,1611396477,1611396477,1611396477,1611396477,1611396477,1611396477,1611396477,...,1611396478,1611396478,1611396478,1611396478,1611396478,1611396478,1611396478,1611396478,1611396478,1611396478
name,BTC/INR,XRP/INR,ETH/INR,TRX/INR,EOS/INR,ZIL/INR,BAT/INR,USDT/INR,WRX/INR,MATIC/INR,...,GLM/USDT,SUSHI/USDT,ETH/WRX,XRP/WRX,YFI/WRX,BNB/WRX,TRX/WRX,EOS/WRX,LTC/WRX,LINK/WRX

In [10]:
df2=pd.read_excel("Crypto.xlsx",index_col='Ticker')
df2

        Last  Average  Holdings  Profit/Loss  P/L %
Ticker
btcinr   NaN  2400000     0.001          NaN    NaN
ethinr   NaN    98000     0.100          NaN    NaN
xrpinr   NaN       19     0.200          NaN    NaN
trxinr   NaN        1    22.000          NaN    NaN

In [13]:
tickers= list(df2.index)

for i in tickers:
    df2['Last'][i]=df[i]['last']
    df2['Profit/Loss'][i]=(df2['Last'][i]-df2['Average'][i])*df2['Holdings'][i]
df2

<ipython-input-13-e888fed52b95>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Last'][i]=df[i]['last']
<ipython-input-13-e888fed52b95>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Profit/Loss'][i]=(df2['Last'][i]-df2['Average'][i])*df2['Holdings'][i]

                Last  Average  Holdings  Profit/Loss  P/L %
Ticker
btcinr  2.550000e+06  2400000     0.001    150.00000    NaN
ethinr  9.861290e+04    98000     0.100     61.29000    NaN
xrpinr  2.159080e+01       19     0.200      0.51816    NaN
trxinr  2.282400e+00        1    22.000     28.21280    NaN